

<div class = "row">
	<div class="col-7"><h3>Cashier's Console</h3></div>
	<div class= "col2"><label for="cashier">Cashier Name:</label></div>
	<div class= "col-3">
		@* Cashier name here *@
	</div>
</div>

<br />
<div class ="row">
	<div class="col4">
		@*Category section*@
		<br />
		<div>
			@*Product List*@
		</div>
		<br />
		<div>
			@*Product details*@
		</div>
		@*Sales form*@
	</div>
	<div class="col">
		@*List of transactions*@
	</div>
</div>